[Desktop Entry]
Name=Helwan Welcome App
GenericName=Helwan Welcome App
X-GNOME-FullName=Helwan Welcome App
Comment=Welcome Application for HelwanLinux Installations
Exec=/usr/local/bin/helwan-welcome-app
Icon=helwan-hello
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
Name[en_US]=helwan-welcome-app.desktop
