[Desktop Entry]
Name=Helwan Welcome
Comment=Welcome application for Helwan Linux
Exec=helwan-welcome
Icon=helwan-welcome
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Keywords=welcome;first run;intro;helwan;

